---
http_interactions:
- request:
    method: post
    uri: https://ows.ozon.ru/PartnerService/ClientService/PartnerClientRegistration/?clientPassword=userhttplab&email=user@httplab.ru&firstName=Phillip&lastName=Morris&login=<OZON_LOGIN>&partnerClientId=hb1&password=<OZON_PASSWORD>&spamSubscribe=false&userAgent=%27%27&userIp=%27%27
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Error":null,"Status":2}'
  recorded_at: Sun, 04 Sep 2016 10:22:13 GMT
- request:
    method: get
    uri: https://ows.ozon.ru/PartnerService/ClientService/ClientCheckEmail/?email=user@httplab.ru&login=<OZON_LOGIN>&<OZON_PARTNER_CLIENT_ID>&password=<OZON_PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Error":null,"Status":2,"LoginEqualsEmail":true}'
  recorded_at: Sun, 04 Sep 2016 10:43:40 GMT
- request:
    method: get
    uri: https://ows.ozon.ru/PartnerService/ClientService/ClientCheckEmail/?email=not-user@httplab.ru&login=<OZON_LOGIN>&<OZON_PARTNER_CLIENT_ID>&password=<OZON_PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Error":{"ErrorCode":"Client_Email_CheckFailed","ErrorMessage":null},"Status":1,"LoginEqualsEmail":null}'
  recorded_at: Sun, 04 Sep 2016 10:43:53 GMT
- request:
    method: get
    uri: https://ows.ozon.ru/PartnerService/ClientService/ClientLogin/?clientLogin=user@httplab.ru&clientPassword=userhttplab&login=<OZON_LOGIN>&<OZON_PARTNER_CLIENT_ID>&password=<OZON_PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Error":null,"Status":2}'
  recorded_at: Sun, 04 Sep 2016 10:51:40 GMT
- request:
    method: get
    uri: https://ows.ozon.ru/PartnerService/ClientService/ClientLogin/?clientLogin=not-user@httplab.ru&clientPassword=userhttplab&login=<OZON_LOGIN>&<OZON_PARTNER_CLIENT_ID>&password=<OZON_PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Error":{"ErrorCode":"Client_ExistingUser_LoginFailed","ErrorMessage":null},"Status":1}'
  recorded_at: Sun, 04 Sep 2016 10:59:05 GMT
recorded_with: VCR 3.0.3
